.card__container {
    margin: 5px;
    padding: 6px 0;
    border: 1px var(--white-color) solid;
    border-radius: var(--main-border-radius);
    background-color: var(--white-button-main-color);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    transition: border 0.25s;
}

.card__container:hover {
    border: 1px var(--dark-blue-button-color) solid;
    cursor: pointer;
}

.card__content {
    margin: 0 8px;
}

.card__description {
    font-weight: 500;
    margin: 2px 8px;
}

.card__due__date {}

.create__card_in_list__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 4px;
    margin: 4px;
}

#cards__buttons {
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1;
    border-radius: 3px;
    width: 110px;
    height: 22px;
}

.light__blue__button {
    color: var(--dark-blue-button-color);
    background: var(--light-blue-button-color);
    border: 1px var(--dark-blue-button-color) solid;
    position: relative;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.light__blue__button:hover {
    color: #ffffff;
    background: var(--dark-blue-button-color);
    border: 1px #000000 solid;
}

.displayed-card {
    display: block;
}

.not-displayed-card {
    display: none;
}
