.card__container {
    margin: 5px;
    padding: 6px 0;
    border-radius: var(--main-border-radius);
    background-color: var(--white-button-main-color);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.card__content {
    margin: 0 8px;
}

.card__description {
    font-weight: 500;
    margin: 2px 8px;
}

.card__due__date {}
