.lists__in__boards {
    display: flex;
    padding: 2px;
    height: 80%;
    /* max-height: 80%; */
}

.list__container {
    display: inline-block;
    width: 220px;
    height: auto;
    border-radius: 3px;
    background-color: var(--light-gray-bg-color);
    margin: 2px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.list__size {
    display: flex;
    align-items: flex-start;
    height: 80%;
    /* max-height: 100%; */
}

.list__title__close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.create__list__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 4px;
    margin: 4px;
}

#lists__buttons {
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1;
    border-radius: 3px;
    width: 110px;
    height: 22px;
}

.light__green__blue__button {
    color: #1F2858;
    background: #00AABF;
    border: 1px #1F2858 solid;
    position: relative;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.light__green__blue__button:hover {
    color: #ffffff;
    background: #10698C;
    border: 1px #000000 solid;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    border: none;
    background-color: var(--white-button-main-color);

}

.close__text {
    font-size: 25px;
    color: #A1A8AA;
    transition: transform 1s, color 0.5s;
}

.close__text:hover {
    color: #AF0B0B;
    transform: rotate(270deg)
}

.list__title {
    font-size: 16px;
}

/* ADD ANOTHER LIST */
.add-another-list-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.create-list-btns {
    display: flex;
}

.displayed {
    display: block;
}

.not-displayed {
    display: none;
}

.input__list__title {
    margin: 6px;
    width: 200px;
    height: 25px;
    border: var(--nav-bar-left-divider-color) var(--main-button-border-width) solid;
    border-radius: var(--main-border-radius);
}

/* EDIT TITLE */

.fa-pen-to-square {
    cursor: pointer;
    align-content: end;
}

/* ANIMATIONS */
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

.grow-down {
    animation: growDown .5s;
}
