.list-title-div {
    display: flex;
}

.list-edit-del-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.edit__bts__in__lsts {

    /* margin: 1 10px; */
}

.del__bts__in__lsts {
    margin-left: 5px;
}

.list__title {
    animation: growDown .3s;
    transform-origin: bottom;
}

.fa-pen-to-square {
    cursor: pointer;
    align-content: end;
    padding-bottom: 1px;
    transition: .2s;
    color: #A1A8AA;
    animation: growDown .3s;
    transform-origin: bottom;
}

.fa-pen-to-square:hover {
    color: var(--dark-blue-button-color);
}

.fa-pen-to-square:active {
    color: red;
    /* color: #195f9c; */
}

.title-input {
    height: 20px;
    border: #A1A8AA 1px solid;
    border-radius: 3px;
    width: 198px;
}

.check-div {
    display: flex;
    align-items: center;
    float: right;
}

.check-div>* {
    position: relative;
    bottom: 19px;
    right: 5px;
    /* left: 128px; */
}

.update-title-btns>* {
    margin-top: 5px;
}

.light__green__button {
    border-radius: 3px;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    color: var(--jello-1-font);
    background: var(--jello-1);
    border: 1px var(--jello-1-font) solid;
    position: relative;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.light__green__button:hover {
    color: #ffffff;
    background: var(--jello-1-font);
    border: 1px var(--jello-1) solid;
}

.cancel-title-btn {
    color: var(--red-button-main-color);
    background-color: white;
    border: 1px solid var(--red-button-main-color);
    font-family: 'Roboto Condensed';
    font-weight: 700;
    transition: .3s;
    border-radius: 3px;
    margin-left: 8px;
}

.cancel-title-btn:hover {
    color: white;
    background-color: var(--red-button-main-color);
    border-color: white;
}

.delete-list {
    padding: 0px;
    border: none;
    background-color: transparent;
    animation: growDown .3s;
    transform-origin: bottom;
}

.disabled-blue {
    opacity: 50%;
}

.disabled-blue:hover {
    animation: none;
}
