.comments__container {
    margin-top: 30px;
    font-size: 18px;
}

.next__comment {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* position: absolute; */
    margin-top: 20px;
    margin-left: -35px;
}

.textarea__input__comments {
    width: 520px;
    border-radius: var(--main-border-radius);
    resize: vertical;
    margin-left: 5px;
}
