.comments__container {
    margin-top: 30px;
    font-size: 18px;
}

.next__comment {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* position: absolute; */
    margin-top: 20px;
    margin-left: -35px;
}

.textarea__input__comments {
    width: 520px;
    border-radius: var(--main-border-radius);
    resize: vertical;
    margin-left: 5px;
}

.comment__by__user {
    display: flex;
    margin-left: -35px;
    margin-top: 5px;


}

.comments__image__users {
    width: 30px;
    height: 30px;
    /* border: 1px blue solid; */
}

.comments__font__size {
    /* border: red 1px solid; */
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
}
