.card__element {
    /* margin-top: 30px; */
    border-radius: var(--main-border-radius);
    background-color: var(--white-color);
    width: 600px;
    height: 800px;

    box-shadow: var(--main-box-shadow);
    animation: jello_3 1s;
}

.card__container__in_card {
    width: 600px;
    height: 730px;
    overflow: scroll;
    /* margin-top: 15px; */

}

.card__title__container__in_card {
    padding: 1px 0;
}

.titles__closing__n__edit {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.display__comments {
    height: 388px;
}

.edit__bts__in__card {
    margin-right: 10px;
}

.card-edit-close-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.edit__content__position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 40px;
    /* border: red 1px solid; */
}

.edit__content__position>* {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.update-content-btns {
    /* border: 3px blue solid; */
}

.update-content-input {
    margin-right: 10px;
    /* border: 3px green solid; */
}

.edit__close__in_card {
    float: right;
    margin: 20px;
}


.card__title__in_card {
    font-size: 24px;
    letter-spacing: 0.5px;
    color: var(--dark-blue-main-text);
    margin: 20px 40px 0;
}

.card__subtitle__in_list {
    margin: 10px 40px;
    font-weight: 500;
}

.list__title__in_list {
    font-weight: 700;
}

.due__date__container {
    margin: 20px 40px 0;
}

.due__date__title {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}

.due__date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: var(--main-border-radius);
    color: var(--white-color);
    background: var(--light-gray-bg-color);
}

.month__day__year {
    color: var(--dark-blue-main-text);
    font-weight: 500;
    font-size: 14px;
}

.drop__down__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #379913;
    width: 50px;
    height: 15px;
    border-radius: 3px;
    color: var(--white-color);
    font-size: 10px;
}

.description__container {
    margin-top: 30px;
    margin-left: 4px;
    font-size: 18px;
}

.description__paragraph {
    font-size: 13px;
    font-weight: 500;
    padding: 5px;
    max-height: 120px;
    overflow: scroll;
    border: 1px solid var(--nav-bar-left-divider-color);
    border-radius: var(--main-border-radius);
}

.textarea__input__description {
    margin-top: 20px;
    width: 510px;
    height: 60px;
    border-radius: var(--main-border-radius);
    resize: none;
}

.form__avatar__image {
    overflow: hidden;
    position: relative;
    left: -50px;
    overflow: hidden;
    bottom: -160px;
}


.form__avatar__image>img {
    width: 250px;
    height: auto
}

.jello__image__card {
    overflow: hidden;
}

.del__card__btn__container {
    float: right;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add__cancel__desc {
    display: flex;
    align-items: center;

}

#desc__buttons {
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1;
    border-radius: 3px;
    width: 110px;
    height: 22px;
}

.close__tag__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    border: none;
    background-color: white;
}

.close__tag__description {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    border: none;
}

.close__desc {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    border: none;
    /* background-color: var(--white-button-main-color); */
}

#del__card__btn {
    width: 90px;
    height: 25px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: inherit;
    color: var(--red-button-main-color);
    background-color: var(--white-color);
    padding: 6px 12px;
    border-width: var(--main-button-border-width);
    border-color: var(--red-button-main-color);
    border-style: solid;
    border-radius: var(--main-border-radius);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

#del__card__btn:hover {
    color: var(--white-button-main-color);
    background: var(--red-button-main-color);
    border: 1px #000000 solid;
}

.comments__in__list__container {
    position: relative;
    right: 40px;
    left: -30px;
}

.displayed-desc {
    display: block;
}

.not-displayed-desc {
    display: none;
}

.displayed-cont {
    display: block;
}

.not-displayed-cont {
    display: none;
}
