nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: var(--nav-bar-color);
  height: 54px;
}

.nav-bar-logo {
  height: 28px;
}

.logo-link {
  display: inline-flex;
  align-items: center;
}

.nav-bar-left {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-left: 12px;
  gap: 18px;
}

.nav-bar-left > span {
  color: white;
}

.nav-bar-left > a {
  text-decoration: none;
}

.create-board-link {
/*  letter-spacing: -0.75px;*/
  font-size: 13px;
  padding: 6px 12px;
  border-radius: var(--main-border-radius);
  font-weight: 900;
  color: var(--create-board-button-main-color);
  background-color: var(--create-board-button-background-color);
  border-width: var(--main-button-border-width);
  border-style: solid;
  border-color: var(--create-board-button-main-color);
}

.nav-bar-left-divider {
  height: 16px;
  width: 1px;
  border-radius: 1px;
  background-color: var(--nav-bar-left-divider-color);
  margin-right: 7px;
}

.nav-bar-right {
  margin-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px
}
