.radio-div {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;

    /* background-color: red; */
}

.icon-loop {
    display: grid;
    grid-template:
        '1 2 3 4 5 6'
        '7 8 9 10 11 12';
}

.avatar-check {
    float: right;
    position: relative;
    /* bottom: 16px; */
    right: -114px;
}

#radio-jello-div {
    display: flex;
    flex-direction: column;
}

#avatar-label {
    color: rgb(186, 186, 186);
    font-size: 12px;
    position: relative;
    top: -1px;
    margin-left: 180px;
}

.justify_right_label {
    display: flex;
}

#radio-icon {
    width: 50.5px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 3px;
    margin: 2px;
    transition: .09s;
}

#radio-icon:hover {
    background-color: lightgray;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    /* background: #1aff00b9; */
}
