.all__buttons {
    padding: 5px
}

.body__boards {
    flex: auto;
    background-color: var(--white-button-main-color);
}

.all__boards {
    display: grid;
    gap: 10px;
    grid-template-columns: 270px 270px 270px 270px;
    grid-auto-flow: row dense;
}

.jello__container {
    width: 260px;
    height: 80px;

    border-radius: 4px;

    display: flex;
    justify-content: space-between;

    overflow: hidden;
    align-items: flex-start;
}

.boards__list__elements {
    list-style: none;
}

.jello__image {
    width: 125px;
    height: auto;
    border-radius: 4px;

    position: relative;
    bottom: 20px;
    left: 20px
}

.jello__text {
    z-index: 1;
}

.jello__title {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    /* color: var(--white-color); */
}

.jello__bg {
    color: white;
    /* background: #B3D035; */
    transition: background 1s, color 0.5s;
}

.jello__bg:hover {
    color: #005A50;
    background-color: #EBE716;
    cursor: pointer;
}

.jello__bg__02 {
    color: white;
    background: #F8AC1B;
    transition: background 1s, color 0.5s;
}

.jello__bg__02:hover {
    color: #F37F25;
    background: #FBEF65;
    cursor: pointer;
}

.divided_screen {
    display: flex;
}

.boards__name {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F5F7;
    border: #D6DADE solid 1px;
}

.boards__title {
    font-size: 42px;
}

.avatar__boards__big {
    background: #FFFFFF;
    /* border: 1px rgba(39, 55, 85, 1) solid; */
    border-width: 1px;
    width: 120px;
    height: 120px;
    border-radius: 5px;

    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 42px;
    /* color: black; */
}

.subtitles__boards {
    font-size: 14px;
    margin-top: 35px;
    margin-left: 40px;
    margin-bottom: 15px;
}

.shared__with {
    /* width: 15px; */
}
