.all__buttons {
    padding: 5px
}

/* .body__boards {
    position: fixed;
    right: 0;
    bottom: 0;
} */


.all__boards {
    display: grid;
    gap: 10px;
    grid-template-columns: 270px 270px 270px 270px;
    grid-auto-flow: row dense;
}

.jello__container {
    width: 260px;
    height: 80px;

    border-radius: 4px;

    display: flex;
    justify-content: space-between;

    overflow: hidden;
    align-items: flex-start;
}

.all__boards__display {
    position: fixed;
    left: 210px;
    top: 244px;
    bottom: 0;
    right: 0;
}

.boards__list__elements {
    list-style: none;
}

.jello__image {
    width: 125px;
    height: auto;
    border-radius: 4px;

    position: relative;
    bottom: 20px;
    left: 20px
}

.jello__text {
    z-index: 1;
}

.jello__title {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    /* color: var(--white-color); */
}

.divided_screen {
    display: flex;
}

.boards__name {
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 54px;
    left: 210px;
    right: 0px;
    background: #F4F5F7;
    border: #D6DADE solid 1px;
}

.boards__title {
    font-size: 42px;
}

.avatar__boards__big {
    background: #FFFFFF;
    /* border: 1px rgba(39, 55, 85, 1) solid; */
    border-width: 1px;
    width: 120px;
    height: 120px;
    border-radius: 5px;

    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 42px;
    /* color: black; */
}

.subtitles__boards {
    font-size: 14px;
    margin-top: 35px;
    margin-left: 40px;
    margin-bottom: 15px;
}

.bg__avatar__image {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.bg__avatar__image>img {
    width: 500px;
    height: auto
}

.shared__with {
    /* width: 15px; */
}
