.board-nav-bar-length {
    width: 100%;
}

.board-nav-bar {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #777d7f;
    align-items: center;
    position: fixed;
    top: 54px;
    width: 91.2vw;
    left: 190px;
    z-index: 1;
}

.one__board__vertical__navbar {
    position: fixed;
    top: 54px;
    z-index: 1;
}

.title-share-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-share-icons>div {
    margin-left: 10px;
    margin-right: 10px;
}

.edit-delete-btns {
    display: flex;
}

.edit-delete-btns>button {
    margin-right: 12px;
    margin-left: 6px;
}

.board-nav-left-divider {
    height: 16px;
    width: 1px;
    border-radius: 1px;
    background-color: var(--nav-bar-left-divider-color);
    margin-right: 7px;
}

.lists__page__bg__color {
    width: 100vw;
    height: 100vh;
}

.lists-page-position {
    position: relative;
    top: 84px;
    left: 190px;
}

.bg__avatar__image {
    position: fixed;
    right: 0;
    bottom: 0;
}

.bg__avatar__image>img {
    width: 500px;
    height: auto
}
