.share-board-form {
    background-color: white;
    border-radius: 3px;
    animation: jello_3 1s;

}

.share-board-form>* {
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.share-board-input {
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 90%;
    margin-top: 10px;
}

.share-form-btns {
    display: flex;
}

.share-form-btns>* {
    margin-top: 2px;
}

.share-form-cancel {
    background-color: white;
    border: 1px solid var(--red-button-main-color);
    color: var(--red-button-main-color);
    border-radius: 3px;
    transition: .3s;
}

.share-form-cancel:hover {
    background-color: var(--red-button-main-color);
    color: white;
}

/* SUCCESS OR ERROR */
.success {
    color: green;
}

.error {
    color: red;
}

.success,
.error {
    font-size: 10px;
    position: relative;
    bottom: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
