.share-board-form {
    background-color: white;
    border-radius: 3px;

}

.share-board-form>* {
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.share-board-input {
    border: 1px solid transparent;
    border-radius: 3px;
}

.share-form-btns {
    display: flex;
}
