.login-body {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px;
    width: 470px;
}

.login-error-div {
    position: absolute;
}

#custom-error-login {
    position: relative;
    top: 45px;
    left: 135px;
    color: var(--red-button-main-color);
    font-weight: lighter;
    font-size: small;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.login-text {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: default;
}

#skinny {
    font-weight: 300;
}

.signup-click {
    color: rgb(0, 145, 255);
    background-color: transparent;
    border: none;
    font-weight: bolder;
    cursor: default;
    transition: .2s;
}

.signup-click:hover {
    color: rgb(0, 170, 176);
}

.signup-click:hover {
    cursor: pointer;
}

.login-input {
    height: 35px;
    width: 75%;
    margin: 10px 0 10px 0;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 3px;
    box-sizing: border-box;
}

.login-input::placeholder {
    color: rgb(167, 167, 167);
}


.login-form-btn {
    height: 35px;
    width: 352px;
    margin-top: 15px;
    align-self: center;
}

.submit-btn {
    margin-top: 20px;
    font-weight: bolder;
    box-sizing: border-box;
    width: 352px;
}

.cancel-btn {
    width: 352px;
    margin-bottom: 25px;
}
