.login-body {
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    width: 400px;
    box-shadow: var(--main-box-shadow);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.login-click {
    color: rgb(0, 145, 255);
    background-color: transparent;
    border: none;
    font-weight: bolder;
    cursor: default;
    transition: .2s;
}

.login-click:hover {
    cursor: pointer;
    color: rgb(0, 170, 176);
}

.login-input {
    height: 35px;
    width: 352px;
    margin: 10px 0 10px 0;
    border: 1px solid var(--nav-bar-left-divider-color);
    border-radius: var(--main-border-radius);
    box-sizing: border-box;
}

.login-input::placeholder {
    color: rgb(167, 167, 167);
}

.login-error-div {
    position: absolute;
}

#custom-error-login {
    position: relative;
    top: 45px;
    /* left: 50px; */
    color: var(--red-button-main-color);
    font-weight: lighter;
    font-size: small;
}

.login-text {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: default;
}

#skinny {
    font-weight: 300;
}

.login-form-btn {
    height: 35px;
    width: 364px;
    margin-top: 15px;
    align-self: center;
}

.submit-btn {
    margin-top: 20px;
    font-family: 'Roboto Condensed';
    font-weight: bolder;
    box-sizing: border-box;
    width: 364px;
}

.cancel-btn {
    width: 364px;
    margin-bottom: 25px;
}

#cancel-button-boards {
    border-width: var(--main-button-border-width);
    border-style: solid;
    border-color: var(--red-button-main-color);
    color: var(--red-button-main-color);
    font-weight: 700;
    font-family: inherit;
    border-radius: var(--main-border-radius);
    position: relative;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    background-color: white;
    width: 364px;
    height: 30px;
}

#cancel-button-boards:hover {
    color: var(--white-button-main-color);
    background: var(--red-button-main-color);
    border: 1px #000000 solid;
    cursor: pointer;
}
