.signup-body {
    background-color: white;
    border-radius: 5px;
    width: 470px;
    box-shadow: 0px 0px 20px 0px;
}

.login-click {
    color: rgb(0, 145, 255);
    background-color: transparent;
    border: none;
    font-weight: bolder;
    cursor: default;
    transition: .2s;
}

.login-click:hover {
    color: rgb(0, 170, 176);
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.signup-input {
    height: 35px;
    width: 75%;
    margin: 10px 0 10px 0;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 3px;
    box-sizing: border-box;
}

.signup-input::placeholder {
    color: rgb(167, 167, 167);
}

.first-last-div {
    display: flex;
    width: 75%;
    gap: 18px;
    justify-content: space-between;
}

/* ERROR HANDLES */
#invalid {
    color: lightgray;
    transition: .3s;
}

#valid {
    color: #6CAC45;
    transition: .3s;
}

#disabled {
    color: #2b6f0064;
    background-color: #6dac455b;
    border-color: rgba(6, 132, 6, 0.254);
}

#disabled:hover {
    animation: none;
}

.sign-up-checks {
    display: flex;
    position: absolute;
}

.first-last-checks>* {
    position: relative;
    top: 77px;
}

.first-name-check {
    position: relative;
    right: 15px;
}

.last-name-check {
    position: relative;
    left: 155px;
}

.email-check {
    position: relative;
    top: 133px;
    left: 163px;
}

.pass-check {
    position: relative;
    top: 330px;
    left: 163px;
}

.confirm-pass-check {
    position: relative;
    top: 385px;
    left: 163px;
}


/* ERROR HANDLES */

.radio-div {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.icon-loop {
    display: grid;
    grid-template: '1 2 3 4 5 6'
        '7 8 9 10 11 12';

}


#radio-jello-div {
    display: flex;
    flex-direction: column;
}

#avatar-label {
    position: relative;
    right: 18vh;
    bottom: .5vh;
    color: gray;
    font-size: 12px;
}

#radio-icon {
    width: 50px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 3px;
    margin: 2px;
}

#radio-icon:hover {
    background-color: lightgray;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    /* background: #1aff00b9; */
}
