.signup-body {
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    width: 400px;
    box-shadow: var(--main-box-shadow);
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.signup-click {
    color: rgb(0, 145, 255);
    background-color: transparent;
    border: none;
    font-weight: bolder;
    cursor: default;
    transition: .2s;
}

.signup-click:hover {
    cursor: pointer;
    color: rgb(0, 170, 176);
}

.signup-input {
    height: 30px;
    width: 358px;
    margin: 10px 0 10px 0;
    border: 1px solid var(--nav-bar-left-divider-color);
    border-radius: var(--main-border-radius);
}

.signup-input::placeholder {
    color: rgb(167, 167, 167);
}

.first-last-div {
    display: flex;
    width: 364px;
    gap: 12px;
    justify-content: space-between;
}

#disabled:hover {
    animation: none;
}

.sign-up-checks {
    display: flex;
    position: absolute;
}

.first-last-checks>* {
    position: relative;
    top: 77px;
}

.first-name-check {
    position: relative;
    right: 13px;
}

.last-name-check {
    position: relative;
    left: 161px;
}

.email-check {
    position: relative;
    top: 132px;
    left: 168.5px;
}

.pass-check {
    position: relative;
    top: 334px;
    left: 168.5px;
}

.confirm-pass-check {
    position: relative;
    top: 387px;
    left: 168.5px;
}

#cancel-button {
    border-width: var(--main-button-border-width);
    border-style: solid;
    border-color: var(--red-button-main-color);
    color: var(--red-button-main-color);
    font-weight: 700;
    font-family: inherit;
    border-radius: var(--main-border-radius);
    position: relative;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    background-color: white;
    width: 90px;
    height: 30px;
}

#cancel-button:hover {
    color: var(--white-button-main-color);
    background: var(--red-button-main-color);
    border: 1px #000000 solid;
    cursor: pointer;
}

/* ERROR HANDLES */

#invalid {
    color: lightgray;
    transition: .3s;
}

#valid {
    color: #6CAC45;
    transition: .3s;
}

#disabled {
    color: #2b6f0064;
    background-color: #6dac455b;
    border-color: rgba(6, 132, 6, 0.254);
}
