#logout-button {
  padding: 6px 12px;
  border-width: var(--main-button-border-width);
  border-style: solid;
  border-color: var(--red-button-main-color);
  color: var(--red-button-main-color);
  font-weight: 700;
  font-family: inherit;
  border-radius: var(--main-border-radius);
  width: 90px;
  height: 30px;
}

#logout-button:hover {
  color: var(--white-button-main-color);
  background: var(--red-button-main-color);
  border: 1px #000000 solid;
}


.button__shine__short__red {
  position: relative;
  overflow: hidden;
}

.button__shine__short__red:before,
.button__shine__short__red:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -75%;
  width: 85%;
  height: 50%;
  background-color: rgb(255, 255, 255, 0.5);
  /* background-color: black; */
  transform: rotate(-45deg);
  transition: all ease 0.75s;
  z-index: 1;
}

.button__shine__short__red:after {
  transition-delay: 0.1s;
}

.button__shine__short__red:hover:before,
.button__shine__short__red:hover:after {
  left: 100%
}
